<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="">Angular Forms</a>
    </div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" [routerLink]="['/templateForm']">Form - Template Driven</a>
        </li> 

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" [routerLink]="['/dataForm']">Form - Data Driven</a>
        </li> 
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>