<h3>Diretiva - *ngIf:</h3>

<!-- If com lista -->
<div *ngIf="cursos.length > 0">
    Lista de cursos aqui
</div>
<div *ngIf="cursos.length == 0">
    Não existe cursos para serem listados
</div>

<!-- If com boolean - é sempre TRUE -->
<div *ngIf="mostrarCursos">
    Lista de cursos aqui
</div>
<!-- If com boolean - com negação é sempre FALSE -->
<div *ngIf="!mostrarCursos">
    Não existe cursos para serem listados
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou escoder cursos</button>

<h5>Hidden como alternativa em questão de performance</h5>
<div [hidden]="!mostrarCursos">
    Lista de cursos aqui
</div>

<div [hidden]="mostrarCursos">
    Não existe cursos para serem listados
</div>