<!-- 3º - sincronizando a variavel 'fomulario' do component com o <form> do HTML -->
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <!-- NOME ---------------------------------->
    <div class="form-group row" [ngClass]="validaCssErro('nome')">

        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome</label>

            <!-- 4º - Sincronizando o campo input do HTML ao campo definido no formBuilder no component
                OBS: trocar 'name="nome"' (template-drive) por 'formControlName="nome"' (data-driven) -->
            <input type="text" class="form-control" id="nome" placeholder="Digite o nome..." formControlName="nome">


            <!-- outra opção: [mostrarErro]="verificarValidTouched('nome')"  -->
            <app-campo-control-erro [mostrarErro]="formulario.get('nome').invalid && formulario.get('nome').touched"
                msgErro="Nome é obrigatório">
            </app-campo-control-erro>
        </div>
    </div>
    <!----------------------------------------->

    <!-- EMAIL -------------------------------->
    <div class="form-group row" [ngClass]="validaCssErro('email')">
        <!-- utilizando a validação do bootstrap-->

        <div class="col-sm-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Digite o email (ex: email@dominio.com)"
                formControlName="email">

            <app-campo-control-erro [mostrarErro]="verificarValidTouched('email')"
                msgErro="Email é obrigatório">
            </app-campo-control-erro>

            <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()"
            msgErro="Email inválido">
            </app-campo-control-erro>
        </div>
    </div>
    <!----------------------------------------->
    <br>
    <button type="submit" class="btn btn-primary">Enviar (submit)</button>
    <!-- <button class="btn" type="button" (click)="resetar()">Cancelar</button> -->
    <button type="reset" class="btn"> Cancelar / Limpar</button>

    <app-form-debug [form]="formulario"></app-form-debug>

</form>