<h1 style="text-align: center;">Diretivas Estruturais</h1>

<app-diretiva-ngif></app-diretiva-ngif>
<br><br>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<br><br>
<app-diretiva-ngfor></app-diretiva-ngfor>
<br><br>
<app-diretiva-ngclass></app-diretiva-ngclass>
<br><br>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<br><br>
<app-operador-elvis></app-operador-elvis>
<br><br>

<!-- ex1 - passando um componente para outro: <app-exemplo-ng-content>
    Conteúdo passado para o outro compononent (exemplo-ng-content)
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->
<app-exemplo-ng-content>
    <div class="titulo">Título do Paínel</div>
    <div class="conteudo">1 Conteúdo passado para o outro compononent (exemplo-ng-content)</div>
    <div class="conteudo">2 Conteúdo passado para o outro compononent (exemplo-ng-content)</div>
</app-exemplo-ng-content>

<br><br>

<h1 style="text-align: center;">Diretivas de Atributo</h1> <!-- diretivas utilizas para alterar estrutura/elementos DOM -->

<app-diretivas-customizadas></app-diretivas-customizadas>