<h3>Diretiva - ngStyle:</h3>

<h5>Style com Property Binding (style binding)</h5>
<button 
    [style.background]="ativo ? 'blue' : 'gray'"
    [style.color]="ativo ? 'white' : 'black'"
    [style.fontWeight]="ativo ? 'bold' : 'normal'"
    [style.fontSize]="tamanhoFonte + 'px'"
    (click)="mudarAtivo()"
>
    Mudar atributo 'ativo'
</button>
<br>
<input type="text" [(ngModel)]="tamanhoFonte">

<br>

<h5>Style com a diretiva ngStyle</h5>
<button [ngStyle]="{
    'background': (ativo ? 'blue' : 'gray'),
    'color' : (ativo ? 'white' : 'black'),
    'fontWeight': (ativo ? 'bold' : 'normal'),
    'fontSize': tamanhoFonte + 'px'
    }"
    (click)="mudarAtivo()"
>
    Mudar atributo 'ativo'
</button>