<section class="property-binding">
    <div class="toolbar" role="banner">
        <span>Curso Angular - Data Binding</span>
    </div>

    <article class="content" role="main">
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 = {{ 1+1 }}</p>
        <p>Resultado de 1 + 1 não é = {{ 1 + 1 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article class="content-second">
        <h3>Property Binding</h3>
        <!-- Com interpolação -->
        <img src="{{ urlImagem }}" alt="Imagem teste 1">
        <br>
        <!-- Com property binding = nome do metodo ou variavel do componente -->
        <img [src]="urlImagem" alt="Imagem teste 2">
        <br>
        <img bind-src="urlImagem" alt="Imagem teste 2">
    </article>

    <article class="content-second">
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classeTeste (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Danger</option>
            </select>
            <br><br>

            <!-- Property Binding com Interpolação -->
            <div class="alert= {{ classeTeste.value }}" role="alert">
                Texto colorido conforme valor do ComboBox
            </div>

            <!-- Property Binding com Class -->
            <div class="alert" role="alert" [class.alert-success]="classeTeste.value == 'alert-success'">
                Sucesso
            </div>

            <div class="alert" role="alert" [class.alert-info]="classeTeste.value == 'alert-info'">
                Info
            </div>

            <div class="alert" role="alert" [class.alert-warning]="classeTeste.value == 'alert-warning'">
                Warning
            </div>

            <div class="alert" role="alert" [class.alert-danger]="classeTeste.value == 'alert-danger'">
                Erro
            </div>

            <!-- Property Binding com Style -->
            <div class="alert alert-danger" role="alert"
                [style.display]="classeTeste.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto aparece somente em caso de erro
            </div>
            <br><br>
        </div>
    </article>
</section>

<section class="event-data-binding">
    <article class="content-second">
        <h3>Event Binding</h3>
        <div>
            <button (click)="botaoCliclado()" class="btn btn-primary">
                Me clique!
            </button>

            <br><br>

            <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)"
                (blur)="salvarValor(campoInput.value)" #campoInput>

            <p>valor teclado: {{ valorAtual }}</p>
            <p>valor salvo: {{ valorSalvo }}</p>

            <br>
            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut" [class.highlight]="isMouseOver">
                Passe o mouse
            </span>
            <br><br>
        </div>
    </article>
</section>

<!-- Componente de outro módulo -->
<app-meu-form></app-meu-form>

<section class="input-output-properties">
    <article>
        <h3>Input/Output Properties</h3>

        <!-- Input -->
        <app-curso [nome]="nomeDoCurso"></app-curso>

        <!-- Output -->
        <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador>

    </article>
</section>