.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.content {
    display: flex;
    margin-top: 82px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: baseline;
}

.content-second {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 0 16px;
}

.highlight{
    background-color: yellow;
    font-weight: bold;
}